@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Indie+Flower');@import url('https://fonts.googleapis.com/css?family=PT+Serif');

// fonts
$main-font: 'PT Serif', serif;
$normal-font: 'EB Garamond', serif;

// page variables
$total-page-spacing: 30%;
$page-padding: $total-page-spacing/10;
$page-margin: $total-page-spacing - $page-padding;

// colors
$white: #FFFFFF;
$black: #000000;
$blue: B2FFF6; 

// media queries
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

// set default style for main page
html, body {

  font-family: $normal-font;
  background-color: $blue;
  color: $black;
  font-size: 17px;

}

.container
{

  display: flex;
  flex-direction: column;
  height: 80%;
  margin: 0;
  text-align: center;

}

.page
{
    flex: 1;
    margin: 0;
    padding-bottom: 1in;

    margin-left:    $page-margin  / 5;
    margin-right:   $page-margin  / 5;
    padding-left:   $page-padding / 5;
    padding-right:  $page-padding / 5;

    @media #{$tablet}
    {
        margin-left:    $page-margin  / 2;
        margin-right:   $page-margin  / 2;
        padding-left:   $page-padding / 2;
        padding-right:  $page-padding / 2;
    }

    @media #{$desktop}
    {
        margin-left:    $page-margin;
        margin-right:   $page-margin;
        padding-left:   $page-padding;
        padding-right:  $page-padding;
    }

    background:     $white;
}

a 
{

  text-decoration: none;
  display: inline;
  color: $white;

}

a:hover 
{
  // !important overwrites the white color
  color: #696969 !important;

}

.images
{

  display: flex;
  flex-direction: row;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  align-items: center;

}

.images img
{

  object-fit: contain;
  max-width: 100%;
  height: 10%;
  flex: 1;
  margin: 0 5px;
  height: 100%;
  width: 1%;
  margin-bottom: 1em;
}

.selfie img
{

  max-width: 50% !important;

}

hr
{
    margin-top: 1em;
    margin-bottom: 1em;
    height: 5px;
    border: 0;
    padding: 0;
    background-image: linear-gradient($blue, $white);
    background-attachment: fixed;

    margin-left:   $page-padding / -5;
    margin-right:  $page-padding / -5;

    @media #{$tablet}
    {
        margin-left:   $page-padding / -2;
        margin-right:  $page-padding / -2;
    }

    @media #{$desktop}
    {
        margin-left:   -$page-padding * 2.5;
        margin-right:  -$page-padding * 2.5;
    }
}

